<%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="login-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "sign-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "sign" %>
    </div>
  <% end %>
<%= render partial: "devise/shared/links", locals: { class: "login" } %>

</div>
