<h1>This is the list of posts</h1>
<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>

<% @posts.each do |post| %>
<a href="<%= user_post_path(@user, post) %>"><%= render partial: 'partials/post', locals: { post: post } %></a>
  <%= "No comments for this post" if post.comments.empty? %>
  
  <div class="comments">
    <% post.five_most_recent_comments.each do |comment| %>
  <%= render partial: "partials/comments", locals: { comments: comment } %>
<% end %>

  </div>

  <p id="view-post"><%= link_to 'View Post', user_post_path(@user, post) %></p>
<% end %>

<%= will_paginate @posts %>


