<div class = "container bg-success">

<%= render 'partials/users', user: @author %>
  <% @posts.each do |post| %>
    <a href="/users/<%= post.author.id %>/posts/<%= post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'partials/post', post: post %>
        <%= render 'partials/comments', comments: post.five_most_recent_comments unless post.five_most_recent_comments.empty? %>
      </div>
    </a>
  <% end %>
  <div class="w-90 mt-5 d-flex justify-content-center align-items-center ">
    <a href="/users/<%=  @author.id  %>/posts" class="btn bg-white m-1">1</a>
  </div>

</div>