<%= stylesheet_link_tag 'post', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container ">
  <a href="/users/<%= @post.author.id %>/posts/<%= @post.id %>" class="text-decoration-none">
    <div class="mb-3">
      <%= render 'partials/post', post: @post %>
      <div class="container">
        <%= link_to 'Add a new comment', "/users/#{@current_user.id}/posts/#{@post.id}/comments/new", class: "submit_button" %>
        
        <!-- Add a link to create a new post -->
        <%= link_to 'Create a new post', new_user_post_path(@current_user), class: "submit_button" %>
        
        <%= render partial: "partials/like", locals: { like: Like.new, post_id: @post.id, user_id: @post.author.id } %>
      </div>
      <%= render 'partials/comments', comments: @post.comments unless @post.comments.empty? %>
    </div>
  </a>
</div>
